<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="static/css/nav.css">
     <link rel="stylesheet" href="static/css/create.css">
     <link rel="stylesheet" href="static/css/all.css">
</head>
<body>
     <%- include('nav'); %>
     <main>
          <form action="/create" method="POST">
               <p>CREATE</p>
               <div class="form_container">
                    <div class="form-content">
                         <label for="username">Họ và tên:</label>
                         <input name="username" type="text" placeholder="họ và tên..." required>
                         <label for="phone">SĐT:</label>
                         <input name="phone" type="text" placeholder="phone" required>
                    </div>
                    <div class="form-content">
                         <div class="time">
                              <label for="time">Thời gian:
                                   <input id="thoigian" name="time" type="time" required><br/>
                              </label><br/>
                              <label for="date">Tháng/ngày/năm:
                                   <input id="date" name="date" type="date"  placeholder="date of bird" required><br/>
                              </label><br/>
                         </div>
                         <label for="chonsan">Chọn sân:</label>
                         <select name="chonsan" required>
                              <option value=1>01</option>
                              <option value=2>02</option>
                              <option value=3>03</option>
                              <option value=4>04</option>
                         </select><br/>
                    </div>
               </div>
               <input type="submit" value="Đăng ký">
          </form>
     </main>
</body>
<script src="static/js/createSanbong.js"></script>
</html>