<header>
    <nav>
        <div id="logo"><h1><a href="http://localhost:3000/">LOGO</a></h1></div>
        <ul>
            <li><a href="/">Trang Chủ</a></li>
            <li><a href="/create">Đặt sân</a></li>
            <li><a href="/recycle">Thùng rác</a></li>
        </ul>
    </nav>
    <div class="create"><h1><%= title %></h1></div>   
    <%- messages() %>
</header>

<script src="/static/js/thongbao.js"></script>